// Filter to keep text legible against a potentially noisy background!
$text-legibility: drop-shadow(3px 3px 5px #101b39) drop-shadow(-3px -3px 5px #101b39) drop-shadow(3px -3px 5px #101b39) drop-shadow(-3px 3px 5px #101b39);

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.ttf");
  font-weight: 500;
}
body {
  font-family: "Inter";
  font-size: 40px;
  font-weight: bold;
  display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: #101b39;
  color: #dce4ea;
  margin: 0px;
  overflow: hidden;
  height: 100vh;
}

#settings-overlay {
  font-size: 20px;
  font-weight: normal;
  max-width: 90vw;
  max-height: 90vw;
  background: #101b39;
  border: 3px solid #aaaaff;
  border-radius: 10px;
  padding: 10px 30px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  padding-bottom: 40px;
  h2 {
    margin-bottom: 8px;
  }
  div>p {
    margin: 4px 0px;
  }
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
  input {
    background: #101b39;
    border: 3px solid #aaaaff;
    // padding: 2px 6px;
    padding: 4px 6px;
    border-radius: 6px;
    color: white;
    appearance: none;
    font-family: "Inter";
    font-size: 20px;
  }

  #close-settings {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0px;
    background: #101b39;
    border: 3px solid #aaaaff;
    padding-bottom: 2px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.25s ease, background 0.25s ease;
    font-size: 40px;
    &:hover {
      background: #aaaaff;
      color: #101b39;
    }
    
  }
}

#about-overlay {
  font-size: 20px;
  font-weight: normal;
  max-width: 90vw;
  max-height: 90vw;
  background: #101b39;
  border: 3px solid #aaaaff;
  border-radius: 10px;
  padding: 10px 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  h2 {
    margin-bottom: 8px;
  }
  div>p {
    margin: 4px 0px;
  }
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
  #close-about {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0px;
    background: #101b39;
    border: 3px solid #aaaaff;
    padding-bottom: 2px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.25s ease, background 0.25s ease;
    font-size: 40px;
    &:hover {
      background: #aaaaff;
      color: #101b39;
    }
    
  }
}

#info {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  transition: filter 0.25s ease, transform 0.25s ease;
  cursor: pointer;
  z-index: 1;
  &:hover {
    filter: drop-shadow(#5555ff 1px 1px 10px);
    transform: scale(1.1);
  }
}

#settings {
  position: absolute;
  bottom: 20px;
  right: 80px;
  width: 40px;
  height: 40px;
  transition: filter 0.25s ease, transform 0.25s ease;
  cursor: pointer;
  z-index: 1;
  &:hover {
    filter: drop-shadow(#5555ff 1px 1px 10px);
    transform: scale(1.1);
  }
}

#hubble+p {
  position: absolute;
  font-size: 20px;
  bottom: 120px;
  left: 30px;
  background: #101b39;
  border: 3px solid #aaaaff88;
  padding: 4px 12px;
  z-index: 2;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.25s ease;
} 
#hubble:hover+p {
  opacity: 1;
}
#apod:hover+p {
  opacity: 1;
}
#apod+p {
  position: absolute;
  font-size: 20px;
  bottom: 120px;
  left: 30px;
  background: #101b39;
  border: 3px solid #aaaaff88;
  padding: 4px 12px;
  z-index: 2;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.25s ease;
}

#hubble {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 80px;
  fill: #dce4ea;
  filter: drop-shadow(transparent 1px 1px 0px);
  transition: filter 0.25s ease, transform 0.25s ease;
  transform: scale(1);
  cursor: pointer;
  z-index: 1;
  &:hover {
    filter: drop-shadow(#5555ff 1px 1px 10px);
    transform: scale(1.05)
  }
  &:active {
    transform: scale(0.95)
  }
}
#apod {
  position: absolute;
  bottom: 40px;
  left: 150px;
  width: 80px;
  fill: #dce4ea;
  filter: drop-shadow(transparent 1px 1px 0px);
  transition: filter 0.25s ease, transform 0.25s ease;
  transform: scale(1);
  cursor: pointer;
  z-index: 1;
  &:hover {
    filter: drop-shadow(#5555ff 1px 1px 10px);
    transform: scale(1.05)
  }
  &:active {
    transform: scale(0.95)
  }
}

.salutation {
  position: absolute;
  top: 40px;
  left: 40px;
  font-weight: normal;
  margin: 0px;
  font-size: 45px;
  span {
    font-weight: bold;
  }
  filter: $text-legibility;
}

.date-and-time {
  position: absolute;
  top: 40px;
  right: 40px;
  font-weight: normal;
  margin: 0px;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  filter: $text-legibility;
  p {
    margin: 0;
  }
  #date {
    font-weight: 500;
  }
  #time {
    font-weight: bold;
    font-size: 70px;
  }
}

#text {
  font-weight: bold;
  font-size: 130px;
  text-align: center;
  span {
    margin: 0px 10px;
    border-radius: 10px;
    padding: 0px 15px;
  }
}


.mercury {
  background: #ef7737;
}
.venus {
  background: #efb837;
}
.earth {
  background: #50bc38;
}
.mars {
  background: #dd681a;
}
.jupiter {
  background: #d86e27;
}
.saturn {
  background: #c9743c;
}
.uranus {
  background: #3c98c9;
}
.neptune {
  background: #106999;
}
img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

#test-overlay {
  padding: 20px;
  z-index: 10;
  // display: block;
  border-radius: 15px;
  background-color: #aaaaff11;
  backdrop-filter: blur(10px);
  width: 250px;
  height: 250px;
  box-shadow: #00000088 1px 1px 10px 0px;
  display: none;
}
canvas {
  width: 100%;
  height: auto;
  background: #101b39;
  position: absolute;
}

#solar-system {
  position: absolute;
  top: 50%;
  left: 50%;
  // background-color: grey;
  width: 1000px;
  // border-radius: 50%;
  transform: translate(-50%, -50%);
  .orbitCircle {
    stroke: #aaaaff;
    stroke-dasharray: 1,14;
    stroke-linecap: round;
    stroke-width: 3px;
    opacity: 0.5;
    fill: transparent;
  }
  .planet {
    transition: transform 0.25s ease;
    transform-origin: center;
  }
  .planet:hover { 
    transform: scale(1.2);
  }
  .fakePlanet {
    fill: orange;
  }
  .title-text {
    font-size: 30px;
  }
  .subtitle-text {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
  }
  .popup-bg {
    fill: #101b39;
    stroke: #aaaaff88;
    stroke-width: 3px;
  }
  .fact-card {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease, transform 0.25s ease;
    transform: translateX(-10px);
    &.left {
      transform: translateX(10px);
    }
    &.hover {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .description-text {
    // font-weight: normal;
    font-size: 20px;
    font-weight: 500;
  }
  .data-line {
    fill: red;
  }
  .data-text {
    font-weight: normal;
    font-size: 20px;
  }
}

#twitter-overlay {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 250px;
}

#dim {
  position: absolute;
  left:0px;
  top:0px;
  background: #000;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  &.visible {
    opacity: 0.5;
    pointer-events: all;
  }
}

#apod-overlay {
  max-width: 90vw;
  max-height: 90vw;
  background: #101b39;
  border: 3px solid #aaaaff;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  &.visible {
    pointer-events: all;
    opacity: 1;
  }
  p {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0px;
    background: #101b39;
    border: 3px solid #aaaaff;
    padding-bottom: 2px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.25s ease, background 0.25s ease;
    &:hover {
      background: #aaaaff;
      color: #101b39;
    }
    
  }
  img {
    width: 100%;
    height: 100%;
  }
  z-index: 3;
}